.about{
    display: flex;
    padding: 30px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    background: #356A87;
    width: 40%;
    border-radius: 30px;
    color: #ffffff;
}