<div class="currency-converter">
  <input type="number" placeholder="amount" [(ngModel)]="amount" />
  <select [(ngModel)]="from" (change)="loadRates()">
    <option *ngFor="let currency of getAllCurrencies()" [value]="currency">
      {{ currency }}
    </option>
  </select>
  <img src="../../assets/arrows.png" class="arrows-icon" />
  <select [(ngModel)]="to">
    <option *ngFor="let currency of getAllCurrencies()" [value]="currency">
      {{ currency }}
    </option>
  </select>

  <h2>
    {{ amount.toFixed(2) }} {{ from }} = {{ convertAmount().toFixed(2) }}
    {{ to }}
  </h2>
</div>
