.currency-converter {
  display: flex;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
  background: #356a87;
  width: 60%;
  border-radius: 30px;
  color: #ffffff;
}

input,
select {
  height: 40px;
  margin: 0 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
}
h3 {
  text-align: center;
  margin: 10px;
}
