.currency-converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
  background: #356a87;
  width: 60%;
  border-radius: 30px;
  color: #ffffff;
}

.converter-container {
  display: flex;
  align-items: center;
}

input,
select {
  height: 40px;
  margin: 0 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
}
h2 {
  margin: 5px;
}
