.header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

nav{
    display: flex;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: rgb(37, 37, 37);
}

nav a:hover{
    text-decoration: none;
    color:#356A87;
}

nav h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #356A87;
}

h1 a{
    text-decoration: none;
    color: #356A87;
}

